#!/usr/bin/env php
<?php

require "{{ php_dns_installation_dir }}/vendor/autoload.php";

// JSON formatted DNS records file
$record_file = '/etc/php-dns/dns_records.json';
$jsonResolver = new yswery\DNS\JsonResolver($record_file);

// Recursive provider acting as a fallback to the JsonResolver
$recursiveResolver = new yswery\DNS\RecursiveResolver;

$stackableResolver = new yswery\DNS\StackableResolver(array($jsonResolver, $recursiveResolver));

// Creating a new instance of our class
$dns = new yswery\DNS\Server($stackableResolver, '{{ php_dns_address }}', {{ php_dns_port }});

// Starting our DNS server
$dns->start();
